$primary_color: #090400;
$secondary_color: #fffffc;
$accent_color: #e72d15;

$text_color1: #fffffc;
$text_color2: #000;

//Brand color
$brand_color_100: #fee3d7;
$brand_color_200: #fbc2b1;
$brand_color_300: #fb6542;
$brand_color_400: #f94f3a;
$brand_color_500: #f53b2e;
$brand_color_600: #d5322c;
$brand_color_700: #b72a2a;
$brand_color_800: #9a2121;
$brand_color_900: #7a1515;

//Neutral color
$neutral_color_900: #000000;
$neutral_color_700: #2c2c2c;
$neutral_color_600: #555555;
$neutral_color_500: #808080;
$neutral_color_400: #a9a9a9;
$neutral_color_300: #d3d3d3;
$neutral_color_200: #eeeeee;
$neutral_color_100: #ffffff;
