@use '@/styles/_dirs/variables' as var;

.about {
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding: 10em 1em;
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    h1 {
      color: var.$brand_color_300;
    }

    p {
      line-height: 1.5em;
      text-align: center;
      max-width: 800px;
      width: 100%;
      color: var.$neutral_color_200;

      .mark {
        color: var.$brand_color_300;
      }
    }
  }

  &_team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    h1 {
      color: var.$brand_color_300;
    }

    .team {
      width: 100%;
      display: grid;
      place-content: center;
      grid-template-columns: repeat(2, minmax(0px, 250px));
      gap: 2em;

      @media (max-width: 420px) {
        grid-template-columns: repeat(1, minmax(0px, 250px));
      }
    }
  }
}
