@use '@/styles/_dirs/variables' as var;
@use '@/styles/_dirs/mixins' as mix;

.radio {
  width: 15px;
  height: 15px;

  input[type='radio'] {
    display: none;

    &:checked + label {
      border-color: var.$brand_color_300;

      .dot {
        background: var.$brand_color_300;
      }
    }
  }

  label {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;

    .dot {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
